<?xml version="1.0"?>
<settings>

  <!--
  ==========================================================
  Description: HEU reflected Pu sphere, VNIITF
  Case:        mix-met-fast-003
  Written By:  Jedidiah Phillips
  Date:        4/30/2012
  ==========================================================
  -->
 
  <criticality>
    <batches>3000</batches>
    <inactive>20</inactive>
    <particles>10000</particles>
  </criticality>

  <source>
    <type>box</type>
    <coeffs>0 0 0 1 1 1</coeffs>
  </source>

</settings>
